<mat-card class="container">
    <h2 class="mat-elevation-z1">Contact</h2>
    <mat-card-content>
        <p><mat-icon>phone</mat-icon><span>Globe:</span>09777806067</p>
        <p><mat-icon>phone</mat-icon><span>Smart:</span>09461865484</p>

        <div class="social">
            <a href="https:/facebook.com"><i class="fab fa-facebook"></i></a>
            <a href="https:/twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="https:/instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https:/youtube.com"><i class="fab fa-youtube"></i></a>
            <a href="https:/github.com"><i class="fab fa-github"></i></a>
        </div>
    </mat-card-content>
</mat-card>