<mat-card class="example-card">
    <h2 class="mat-elevation-z1">My Profile</h2>
    <mat-card-title-group>
        <mat-card-title class="mat-elevation-z2">
            <h3>Hello, my Name is</h3>
            <h1>Marvin <span>Menaling</span></h1>
            <h4>Bachelor of Sciece in<br>Information Technology</h4>
        </mat-card-title>
        <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/ak.jpg">
    </mat-card-title-group>
    <mat-card-content class="mat-elevation-z2">
        <p>I'm 27 years old, currently residing in Brgy.Jugaban Carigara Leyte. I am hardworking,
            honest individual. Im a good time keeper, always willing to learn new skills. I am friendly,
            helpful, polite and have a sense of humour. I have a lot of hobbies when bore. I exhaust
            myself playing basketball, billiard and other things because that is what makes me happy.</p>
    </mat-card-content>
</mat-card>